@model Note

<div class="note-content-container theme-@Model.Theme-body" id="note-@Model.Id">
    <div class="note-image-container theme-@Model.Theme">
        <img src="@Url.Action("GetNoteImage", "Note", new { noteId = Model.Id })"
             class="img-fluid note-image p-3" />
    </div>
    <div class="line-container">
        <hr class="note-line m-0" />
    </div>
    <div class="note-text-container p-3">
        <p class="text-light fs-2 note-title">@Model.Title</p>
        <p class="text-light fs-4">@Model.Description</p>
    </div>
    @if (Model.Important)
    {
        <div class="note-priority-container">
            <img src="Images/pin.png" class="note-priority" />
        </div>
    }
    <div class="note-action-buttons-container">
        <a data-bs-toggle="modal" data-bs-target="#action-modal-@Model.Id">
            <img src="Images/mobile-app.png" class="note-action-buttons" />
        </a>
    </div>
</div>

<div class="modal fade" id="action-modal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-light">
                <a onclick="completeNote(@Model.Id)" class="btn btn-md modal-action-button mb-3">☑️ Завърши</a>
                <a asp-action="Edit" asp-controller="Note" asp-route-noteId="@Model.Id" class="btn btn-md modal-action-button mb-3">✏️ Редактирай</a>
                <a onclick="removeNote(@Model.Id)" class="btn btn-md modal-action-button">🗑️ Изтрий</a>
            </div>
        </div>
    </div>
</div>