@model IEnumerable<Deck>;
@{
    ViewData["Title"] = "Тесте";
}

<head>
    <link rel="stylesheet" href="~/css/Deck/DeckStyles.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="container mt-5">
            <section class="deck-header-buttons">
                <a class="btn btn-lg btn-light" asp-action="Create" asp-controller="Deck" asp-route-setId="@ViewBag.setId">Създаване</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Set" asp-route-setId="@ViewBag.setId">Назад</a>
            </section>
            <section class="decks-container mt-5">
                @foreach (var deck in Model)
                {
                    <div class="deck-content-container mb-5">
                        <div class="deck-image-container mt-3 m-5">
                            <img src="@Url.Action("GetDeckImage", "Deck", new { deckId = deck.Id })"
                                 class="img-fluid deck-image p-3"/>
                        </div>
                        <div class="ms-3 mt-5 deck-text-container mb-5">
                            <p class="fs-2 fw-bold m-0 deck-name">@deck.Name</p>
                            <p class="fs-3 m-0 deck-description">@deck.Description</p>
                        </div>
                        <div class="deck-open-container me-5">
                            <a asp-action="Index" asp-controller="Flashcard" asp-route-deckId="@deck.Id"><img src="Images/right-arrow.png" class="img-fluid deck-open-arrow"/></a>
                        </div>
                        @if (deck.Visible == true)
                        {
                            <div class="deck-img-button">
                                <img src="Images/worldwide.png" class="img-fluid"/>
                            </div>
                        }
                        else
                        {
                            <div class="deck-img-button">
                                <img src="Images/padlock.png" class="img-fluid"/>
                            </div>
                        }
                    </div>
                }
            </section>
        </div>
    </div>
</body>